---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Who am I?"
	pubDate={new Date('October 11 2023')}
	heroImage="/about.png"
>
			<h1>🧑‍🚀 Hey Buddy!</h1>
			<p>
			I'm Sudharsanan Kirubanandhan, and I'm all about embracing new challenges and soaking up knowledge like a sponge. I have this tendency to get easily bored if I'm stuck on the same project for too long, which fuels my hunger for innovation. I'm always brewing up ideas and absolutely love turning them into reality. My main goal in life is to make blockchain technology mainstream and seamlessly incorporate web3 into our everyday lives. Oh, and I've set a pretty ambitious target for myself - I want to train and mentor at least 100,000 people before I call it a day.
</p><p>
Professionally, I'm a software developer with a strong passion for blockchain, distributed systems, and artificial intelligence. I did my B.Tech in Information Technology at Alpha College of Engineering from 2014 to 2018. My journey has taken me through various roles. I spent 3.4 years at HTC Global Services, where I worked on private and public blockchain projects, along with dabbling in chatbot development.
</p><p>
After that, I joined Guardian Link for 1.9 years, where I dove deep into public blockchain applications and core development. I worked on layer1 and layer2 blockchain development, crypto wallets, NFT marketplaces, and even NFT domain registration.
</p><p>
Currently, I'm part of an exciting stealth startup, where I'm focused on creating a scalable and faster crypto infrastructure using Rust. Right now, my hands are full developing web components using the Lit protocol and Vite. But it's not all work for me – I'm also a professional Carnatic music player, and I'm a huge fan of cricket and wrestling. So, that's me in a nutshell, always chasing innovation and making the most out of every opportunity!
			</p>
</Layout>
